<template>
	<div class="row">
		<div class="col-xs-12 col-sm-12 offset-md-2 col-md-8">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>書名</th>
							<th>作者</th>
							<th>ISBN</th>
							<th>分類</th>
							<th>狀態</th>
							<th v-if="login">操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(book,idx) in books" :key="book.isbn">
							<td @click="rent(idx)"><router-link :to="'./'">{{ book.title }}</router-link></td>
							<td>{{ book.author }}</td>
							<td>{{ book.isbn }}</td>
							<td><router-link :to="'/category/'+book.category" append>{{ book.category }}</router-link></td>
							<td>{{ book.rent?book.rent:'' }}</td>
							<td v-if="login">
								<button @click="change(idx)" class="btn btn-secondary">修改</button>
								<button @click="del(idx)" class="btn btn-danger">刪除</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
export default {
	data(){
		return {
			books: [],
			login: false
		}
	},
	methods:{
		rent(idx){
			var book=this.books[idx];
			var id;
			if(!book.rent){
				id=prompt('學號:');
				if(!id)return;
				id=parseInt(id);
				if(id!==id)return;//id is NaN 
			}
			else{
				if(!confirm('確定已還書?'))return;
			}
			axios.get('/api/books/rent/'+book.isbn,{
				params: {
					id: id
				}
			}).then(d=>{
				if(d.data.result){
					this.fetchData();
					alert(d.data.msg);
				}
				else alert('失敗');
			}).catch(e=>alert('與伺服器連線失敗'));
		},
		del(idx){
			if(!confirm('確定刪除書籍?'))return;
			var book=this.books[idx];
			axios.delete('/api/books/'+book.isbn).then(d=>{
				if(d.data.result){
					this.fetchData();
					alert('成功');
				}
				else alert('失敗');
			}).catch(e=>alert('與伺服器連線失敗'));
		},
		change(idx){
			var book=this.books[idx];
			this.$router.push('/modify/'+book.isbn);
		},
		fetchData(){
			axios.get('/api/books'+(this.$route.params.c?'/'+this.$route.params.c:'')).then(d=>{
				this.books=d.data.map(e=>{
					e.login=this.$root.login;
					return e;
				});
			}).catch(e=>alert('與伺服器連線失敗'));
		}
	},
	watch: {
		'$route': 'fetchData'
	},
	created(){
		this.fetchData();
		this.login=this.$root.login;
	}
}
</script>