<template>
	<form v-on:submit="onSubmit">
		<div v-for="(f,idx) in this.fs" :key="idx">
			<div class="form-group" :class="{ 'has-danger': f.danger }">
				<label :for="f.name" v-html="f.label" v-if="!f.hidelabel"></label>
				<textarea :disabled="f.disabled" v-if="f.type==='textarea'" v-model="f.value" :placeholder="f.placeholder||''" :name="f.name" :rows="f.rows" class="form-control" @keyup="danger(idx)"></textarea>
				<input :disabled="f.disabled" v-if="f.type==='text'" type="text" v-model="f.value" :placeholder="f.placeholder||''" :name="f.name" class="form-control" @keyup="danger(idx)">
				<input :disabled="f.disabled" v-if="f.type==='password'" type="password" v-model="f.value" :placeholder="f.placeholder||''" :name="f.name" class="form-control" @keyup="danger(idx)">
				<input :disabled="f.disabled" v-if="f.type==='number'" type="number" v-model="f.value" :placeholder="f.placeholder||''" :name="f.name" class="form-control" @keyup="danger(idx)">
				<input :disabled="f.disabled" v-if="f.type==='button'" type="button" v-model="f.value" :placeholder="f.placeholder||''" :name="f.name" class="form-control btn" @keyup="danger(idx)">
				<input :disabled="f.disabled" v-if="f.type==='submit'" type="submit" v-model="f.value" :placeholder="f.placeholder||''" :name="f.name" class="form-control btn btn-primary" @keyup="danger(idx)">
			</div>
		</div>
	</form>
</template>

<script>
export default {
	props: {
		fields: {
			type: Array,
			required: true
		}
	},
	methods: {
		onSubmit(e){
			e.preventDefault();
			var ok=true;
			var obj={};
			this.fs=this.fs.map(function(f){
				if(f.type==='submit'||f.type==='button')return f;
				obj[f.name]=f.value;
				f.danger=!f.validator.test(f.value);
				if(f.danger)ok=false;
				return f;
			});
			if(ok){
				this.$emit('submit',obj);
			}
		},
		danger(i){
			var f=this.fs[i];
			f.danger=!f.validator.test(f.value);
			this.fs.splice(i,1,f);//this.fs[i]=f;
		}
	},
	watch:{
		fields(d){
			this.fs=d.map(function(f){
				if(!f.validator)f.validator=/.*/g;
				if(!f.value)f.value='';
				f.type=f.type.toLowerCase();
				f.danger=false;
				return f;
			});
		}
	},
	data(){
		return {
			fs: this.fields.map(function(f){
				if(!f.validator)f.validator=/.*/g;
				if(!f.value)f.value='';
				f.type=f.type.toLowerCase();
				f.danger=false;
				return f;
			})
		}
	}
}
</script>