<template lang="html">
	<div v-if="!this.$root.login">
		<div class="col-xs-12 col-sm-12 offset-md-4 col-md-4">
			<h2 class="text-center">登入</h2>
			<form>
				<div class="form-group">
					<label for="username">帳號</label>
					<input class="form-control" id="username" v-model="acc">
				</div>
				<div class="form-group">
					<label for="password">密碼</label>
					<input class="form-control" id="password" type="password" v-model="pwd">
				</div>
				<div class="form-group">
					<input type="submit" id="submit" class="form-control btn btn-primary" @click="login" value="登入">
				</div>
			</form>
			<div class="alert alert-danger" v-if="this.loginwrong">
				帳號或密碼錯誤!
			</div>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
export default {
	data(){
		return {
			acc: '',
			pwd: '',
			loginwrong: false
		}
	},
	methods: {
		login(){
			axios.post('/api/login',{
				acc: this.acc,
				pwd: this.pwd
			}).then(d=>{
				if(d.data.result){
					this.$root.login=true;
					this.loginwrong=false;
					this.$router.push('/');
				}
				else{
					this.loginwrong=true;
				}
			}).catch(e=>alert('與伺服器連線失敗'));
		}
	}
}
</script>