<template lang="html">
	<div>
		<div class="col-xs-12 col-sm-12 offset-md-4 col-md-4 text-center">
			<h2>已登出</h2>
			<router-link to="/">
				回到首頁
			</router-link>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
export default {
	created(){
		axios.delete('/api/login').then(d=>{
			this.$root.login=false;
		}).catch(e=>alert('與伺服器連線失敗'));
		return {};
	}
}
</script>