<template>
	<div class="row">
		<div class="col-xs-12 col-sm-12 offset-md-2 col-md-8" v-if="this.$root.login">
			<bsform :fields="fields" @submit="submit"></bsform>
		</div>
	</div>
</template>

<script>
import axios from 'axios';
import bsform from './form.vue';
export default {
	components: { bsform },
	data(){
		return {
			fields: [
				{
					name: 'title',
					label: '書名',
					type: 'text',
					placeholder: '書名',
					validator: /.+/
				},
				{
					name: 'isbn',
					label: 'ISBN',
					type: 'number',
					placeholder: '10或13位數字',
					validator: /^(\d{10}|\d{13})$/,
					disabled: true
				},
				{
					name: 'author',
					label: '作者',
					type: 'text',
					placeholder: '作者',
					validator: /.+/
				},
				{
					name: 'category',
					label: '分類',
					type: 'text',
					placeholder: '分類(選擇性)'
				},
				{
					name: 'submit',
					hidelabel: true,
					type: 'submit',
					value: '送出'
				}
			]
		}
	},
	methods:{
		submit(o){
			axios.put('/api/books',o).then(d=>{
				if(d.data.result)alert('成功');
				else alert('失敗');
			}).catch(e=>alert('與伺服器連線失敗'));
			
		}
	},
	mounted(){
		axios.get('/api/book/'+this.$route.params.isbn).then(d=>{
			var book=d.data;
			this.fields=[
				{
					name: 'title',
					label: '書名',
					type: 'text',
					placeholder: '書名',
					validator: /.+/,
					value: book.title
				},
				{
					name: 'isbn',
					label: 'ISBN',
					type: 'number',
					placeholder: '10或13位數字',
					validator: /^(\d{10}|\d{13})$/,
					disabled: true,
					value: book.isbn
				},
				{
					name: 'author',
					label: '作者',
					type: 'text',
					placeholder: '作者',
					validator: /.+/,
					value: book.author
				},
				{
					name: 'category',
					label: '分類',
					type: 'text',
					placeholder: '分類(選擇性)',
					value: book.category
				},
				{
					name: 'submit',
					hidelabel: true,
					type: 'submit',
					value: '送出'
				}
			];
			console.log(this);
		}).catch(e=>alert('與伺服器連線失敗'));
	}
}
</script>