<template>
	<div>
		<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<router-link to="/" class="navbar-brand" active-class="" :exact="true">CSDC BOOK</router-link>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<router-link to="/" class="nav-link" active-class="active" :exact="true">首頁</router-link>
					</li>
					<li class="nav-item" v-if="!this.$root.login">
						<router-link to="/login" class="nav-link" active-class="active" :exact="true">登入</router-link>
					</li>
					<li class="nav-item" v-if="this.$root.login">
						<router-link to="/new" class="nav-link" active-class="active" :exact="true">新增</router-link>
					</li>
					<li class="nav-item" v-if="this.$root.login">
						<router-link to="/logout" class="nav-link" active-class="active" :exact="true">登出</router-link>
					</li>
				</ul>
			</div>
		</nav>
		<div class="container-fluid">
			<br>
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
export default {
	
}
</script>